body {
    background-image: url("../images/forest.jpg");
}





.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

#open-btn {
    transition: 0.5s;
    color: white;
    background-color: rgba(0,0,0, 0.4);
    box-shadow: 0px 5px 15px black;
}

#open-btn:hover {
    background-color: rgba(0,0,0, 0.3);
    color: white;

}








#container{
    margin : 20px auto;
    background-color: white;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#start{
    font-size: 2.5em;
    font-weight: bolder;
    word-break: break-all;
    width:500px;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    transition: 0.4s;
    height:440px;
    box-shadow: 0px 0px 50px black;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    padding: 100px;
    position: absolute;
    left:300px;
    top:50px;
    color : lightgrey;
}
#start:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}

#qImg{
    width : 600px;
    height : 450px;
    position: absolute;
    left : 0px;
    top : 70px;
}
#qImg img{
    width : 100%;
    height : auto;
    box-shadow: 20px 20px 40px black;
    border-top-left-radius: 5px;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    background-color: rgba(0,0,0, 0.4);
    box-shadow: -20px 0px 40px black;
    font-size: 1.5em;
    color: white;
    right:0;
    top:70px;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 480px;
    position: absolute;
    background-color: rgba(0,0,0, 0.4);
    box-shadow: -20px 20px 40px black;
    color: white;
    transition: 0.3s;
    right : 0;
    top : 195px;
    padding : 10px
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#timer{
    background-color: rgba(0,0,0, 0.4);
    color: white;
    box-shadow: 0px 0px 40px black;
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 500px;
    position: absolute;
    box-shadow: 20px 20px 40px black;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: relative;
    top:100px;
    left:325px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}